@import '../../variables';

footer {
    margin-top: $gap-size*2;
    margin-bottom: $gap-size;
}

footer p {
    text-align: center;
}

.foot-nav-link {
    text-decoration: none;
    color: $yellow-text;
}

.foot-nav-link:hover {
    color: $purple-text;
}

.active {
    color: $blue-text;
}

@media (max-width: 768px) {

    .infos, .double-slash {
        display: none;
    }

    nav {
        gap: 10px;
    }
}