@import '../../../variables';


.formulaire {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

form {
    width: inherit;
    display: flex;
    flex-direction: column;
}

form label {
    color: $purple-text;
    margin-bottom:5px;
}

form input, textarea {

    background-color: #1e1e1e;
    margin-bottom: $gap-size;
}

form textarea {
    resize: vertical;
    height: 100px;
    width: 100%;
}

button {
    align-items:center;
    margin:0 auto;
}