.formulaire {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

form {
    width: inherit;
    display: flex;
    flex-direction: column;
}

form label {
    background-color: #1e1e1e;
}