@import './variables';

.main-container {
    max-width: 1440px;
    min-width: 320px;
    margin-left: 100px;
    margin-right: 100px;
}

body {
    background-color: #1e1e1e !important;
    color: white !important;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: $text-size;
}

@media (max-width: 1024px) {
    
    .main-container {
        margin-left: $gap-size;
        margin-right: $gap-size;
    }
}

@media (max-width: 768px) {

    html {
        font-size:12px;
    }
    .main-container {
        margin-left: $gap-size/2;
        margin-right: $gap-size/2;
    }

    body {
        font-size: $text-size;
    }
}