@import './variables';

body
{
    background-color: #1e1e1e;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: $text-size;
}
