$text-size: 1rem;
$medium-size: 1.875rem;
$title-size: 2.7rem;
$gap-size: 1.875rem;
$yellow-text: #f0e68c;
$purple-text: #a07dc9;
$blue-text: #00bcd4;

.purple-text {
    color: $purple-text;
}

.yellow-text {
    color: $yellow-text;
}