@import '../../../variables';


.upper-infos {
    margin-bottom: $gap-size;
}

.lower-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-size*2;
}

.text-infos, .portfolio-infos {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

.left-infos, .right-infos {
    padding-top: $gap-size;
    width: 50%;
}

.left-infos p, .right-infos p {
    text-align: left;
}

.left-infos p {
    font-size: 1.875rem; // 30px
}

.right-infos {
    margin-left: $gap-size;
    padding-bottom: $gap-size;
}

.left-infos {
    border-right: 1px solid grey;
    padding-right: $gap-size;
}

.about-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $gap-size*2;
}

.about-infos h3 {
    color: white;
    font-size: $medium-size;
}

.about-infos .left-infos {
    color: $yellow-text;
}

.about-infos p {
    font-size: 1.375rem;
}

.about-infos .spacing {
    color: $purple-text;
    font-size: $medium-size;
}

.about-infos .spacing:before {
    content: '{ ';
}

.about-infos .spacing:after {
    content: ' }';
}

@media (max-width: 1024px) {

    .left-infos p {
        font-size: 24px;
    }

    .about-infos p {
        font-size: $text-size;
    }

    .about-infos h3 {
        font-size: $medium-size;
    }
}

@media (max-width: 768px) {

    .text-infos {
        width: 100%;
    }

    .left-infos p, .right-infos p {
        font-size: 18px;
    }

    .self-description .right-infos p {
        font-size: 1rem;
    }

    .self-description .right-infos p {
        font-size: 1.2rem;
    }
}